body {
    background-color: #70c5ce;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #game-canvas {
    border: 2px solid #000;
  }